<%= form_with(model: task, remote: true) do |form| %>
<% if task.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

  <ul>
    <% task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">

  <div class="form-group">
    <%= form.text_field :title, id: :task_title, class: 'task-input', placeholder: 'Add a To Do Item' %>
    <%= form.text_field :due_date, id: :task_due_date, 'data-provide' => 'datepicker', 'data-date-autoclose' => 'true', class: "calendar", placeholder: "Due Date" %>
    <%= fa_icon 'calendar' %>
    <%= form.text_field :description, id: :task_description, class: "form-control description-field", placeholder: 'Description' %>


  </div>
  <%= form.submit id: "submit_button", style: "display: none" %>
</div>

<% end %>
