<div class="tasks">
  <div class="card">
    <div class="card-body">

      <h1 class="title">To Do</h1>

      <%= render 'form', task: @task %>
      
      <div class="item-card">
        <ul class="list-group sortable">
          <% @tasks.each_with_sortable_id do |task, sortable_id| %>
          <li class="list-group-item items" data-id="<%= task.id %>" id="<%= sortable_id %>" >

            <span class="id-title"><%= task.title %></span>
            
            <%# if task.due_date.present? %>
            <% if !!task.due_date and task.due_date < Time.now -%>
            <span class="due-date">
              Due <%= distance_of_time_in_words(task.due_date, Time.now) %> ago
            </span>
            <% else -%>
            <span class="due-date">
              <% if !!task.due_date %>
              Due in <%= distance_of_time_in_words(task.due_date, Time.now) %>
              <% end %>
            </span>
            <% end -%>
            <%# end %>

            <%#= task.due_date %>
            <%= link_to 'X', task, class: "close", method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
          <% end %>
        </ul>

      </div>

    </tbody>
  </table>
  
</div>
</div>

<br>
</div>


<!--       <li class="list-group-item"><%#= link_to 'Edit', edit_task_path(task), class:" btn btn-primary" %></li> -->

<!-- <li class="list-group-item"><%#= link_to 'Show', task, class:" btn btn-primary" %></li> -->

